body,
html {
  height: 100%;
  overflow: hidden;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#wrap {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  background: #383838;
  font-size: 0;
}
#wrap .control {
  min-width: 600px;
  position: relative;
  height: 25px;
  background: #2A2A2A;
}
#wrap .control .btns {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
  height: 25px;
  text-align: center;
}
#wrap .control .btns span {
  display: inline-block;
  width: 9px;
  height: 11px;
  margin-top: 5px;
}
#wrap .control .btns span:nth-child(1) {
  margin-right: 10px;
}
#wrap .control > .progress {
  position: relative;
  margin: 0 230px 0 55px;
  height: 25px;
  cursor: pointer;
}
#wrap .control > .progress .wrap {
  position: absolute;
  height: 3px;
  background: #737373;
  width: 100%;
  margin-top: 11px;
}
#wrap .control > .progress .wrap .inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 7px;
  width: 9px;
  border-radius: 2px;
  background: white;
  margin-top: -2px;
}
#wrap .control > .progress .deeppink {
  position: absolute;
  background: deeppink;
  margin-top: 11px;
  width: 0;
  height: 3px;
}
#wrap .control .others {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 230px;
  height: 25px;
}
#wrap .control .others > div {
  float: left;
  height: 25px;
}
#wrap .control .others .times {
  font-size: 12px;
  width: 120px;
  color: white;
  line-height: 25px;
  text-align: center;
}
#wrap .control .others .sound {
  width: 80px;
}
#wrap .control .others .sound > div {
  float: left;
  height: 25px;
}
#wrap .control .others .sound .switch {
  width: 20px;
  text-align: center;
}
#wrap .control .others .sound .switch span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px 8px 5px 0;
}
#wrap .control .others .sound .progress {
  position: relative;
  width: 60px;
  cursor: pointer;
}
#wrap .control .others .sound .progress .wrap {
  position: absolute;
  height: 3px;
  background: #737373;
  width: 100%;
  margin-top: 11px;
}
#wrap .control .others .sound .progress .wrap .inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 7px;
  width: 9px;
  border-radius: 2px;
  background: white;
  margin-top: -2px;
}
#wrap .control .others .sound .progress .deeppink {
  position: absolute;
  background: deeppink;
  margin-top: 11px;
  width: 0;
  height: 3px;
}
#wrap .control .others .full-screen {
  width: 30px;
  text-align: center;
}
#wrap .control .others .full-screen span {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 5px auto;
}
